.main__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
}

.main__container.light {
  background-color: $very-light-gray;
  color: $very-dark-blue-light;
  // box-shadow: 0 1px 10px $dark-gray;
}

.main__container.dark {
  background-color: $very-dark-blue-dark;
  color: $white;
  // box-shadow: 0 1px 10px $dark-gray;
}

.main__container-box {
  margin: 2em auto;
  width: 90vw;
}
