.main__container {
  display: flex;
  justify-content: space-between;
  // height: 100vh;
  margin: 0 auto;
}

.main__container.light {
  background-color: $very-light-gray;
  color: $very-dark-blue-light;
}

.main__container.dark {
  background-color: $very-dark-blue-dark;
  color: $white;
}

.main__container-box {
  margin: 2em auto;
  width: 90vw;
  height: 100%;
}
